*{
    margin: 0;
    padding: 0
}

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('helveticaneue-thin-webfont.woff2') format('woff2'),
    url('helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(background.png) no-repeat center;
    background-size: cover;
    font-family: "helvetica_neueregular", sans-serif;
    min-height: 1055px;
}
/*----------- Header ------------*/
.header {
    align-items: center;
    background: url(background-header.png) repeat-x;
    display: flex;
    height: 36px;
    justify-content: flex-end;
    margin-top: 0;
}

.header ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.header li {
    padding: 10px;
}

.menu a {
    color: #60b5ed;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
}

.menu li:hover>a {
    background: #4eabda;
    color: #fff;
}

.menu-flag a {
    color: #fff;
    font-size: 14px;
    list-style: none;
    padding: 9px 10px;
    text-decoration: none;
}

.menu-flag {
    background: url(flag-icon.png) no-repeat 5% 50%;
    border-left: 1px solid #56a2dc;
    margin-top: 0;
    padding-left: 30px;
}

.menu-flag li:hover a {
    background: url(gradient.png) repeat-x;
    border: 1px solid #56a2dc;
    margin-top: 0;
    padding: 9px;
}
/*----------- Content ------------*/
.form {
    align-items: center;
    background-color: rgba(0,0,0,0.63);
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 610px;
    margin-top: 160px;
    margin-left: 30%;
    width: 560px;
}

.cadastre {
    align-items: center;
    border-bottom: 2px solid #fff;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 560px;
}

.cadastre p {
    font-size: 24px;
}

.log-in-fb {
    background: url(log-in-FB_button.png) no-repeat;
    border: none;
    border-top: 1px solid #778ab5;
    border-radius: 3px;
    height: 35px;
    opacity: 1;
    margin: 30px 0 15px 0;
    width: 270px;
}

.ou-icon {
    background: url(ou-icon.png) no-repeat 0 50%;
    color: #999;
    font-size: 14px;
    margin: auto;
    text-align: center;
    width: 270px;
}

.ou {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-color: #fff;
    width: 275px;
}

.ou input {
    background: #0f0f0f;
    border: none;
    border-bottom: 1px solid #494947;
    height: 35px;
    font-size: 14px;
    margin: 10px;
    padding-left: 20px;
    width: 255px;
}

.ou input::-webkit-input-placeholder {
    color: #ccc;
}

.ou input:hover {
    background: #1b5288;
    border-bottom: 1px solid #689bcc;
    box-shadow: 0 0 3px 3px rgba(81,140,181,0.5);
}

.check-box {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#checkbox {
    border: 1px solid #8c8e8c;
    background-color: #ccc;
}

.check-box label{
    color: #a5a39d;
    font-size: 14px;
    margin-left: 12px;
}

.create-account {
    background: linear-gradient(to top, #2e7ac4, #50aedb);
    border: 1px solid #67c6e6;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    height: 35px;
    width: 150px;
}
/*----------- Footer ------------*/
.footer {
    align-items: center;
    color: #ccc;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    padding: 20px;
}